{% extends 'base.html' %}

{% block title %}Build{% endblock %}

{% block content %}
    <div class="container mb-3 pt-5 justify-content-around" id="top_of_builds">
        <div class="row" id="build_info">

        </div>
        <div class="row" id="equipment_slots">

        </div>
        
    </div>
    <div class="container mb-3 pt-5 justify-content-around" id="body_of_builds">
        <div class="row" id="main_build_area">
            <div class="col-md-4" id="build_stats">
                
            </div>
        </div>
        <div class="col-7" id="tabs-area">
            <div class=""></div>
        </div>


        
    </div>

{% endblock %} 