{% extends 'base.html' %}

{% block title %}WakfuBuilds: Build{% endblock %}

{% block content %}
    
    <input type="hidden" name="equip_order" value='{{ equip_order | tojson }}'>
    <input type="hidden" name="characteristic_caps" value='{{ characteristic_caps | tojson }}'>
    <input type="hidden" name="char_multipliers" value='{{ char_multipliers | tojson }}'>
    <div class="row mb-3 pt-3 " id="top_of_builds">
        <div class="col-12">
                <form action="/update_build" method="post"></form>    
                    <div class="row mb-3 pt-3 " id="top_of_builds">
                        <div class="col-12">
                            <div class="row justify-content-center" id="build_info_row">
                                <div class="col-3" id="build_info_col">
                                    <div class="input-group input-group-sm mb-2">
                                        <span class="input-group-text">Name</span>
                                        <input type="text" class="form-control" placeholder="{{ build.build_name }}" aria-label="Build name" aria-describedby="build_name" id="build_name">
                                    </div>
                                </div>
                                <div class="col-auto" id="build_name_class_col">
                                    <div class="dropdown">
                                        <button class="btn btn-outline-primary dropdown-toggle btn-sm" id="char_class_dropdown" type="button" data-bs-toggle="dropdown" aria-label="Class selection" aria-expanded="false">
                                            {% if build.character_class_id == None %}
                                                Classes
                                            {% else %}
                                                {{ build.character_class.name }}
                                            {% endif %}
                                        </button>
                                        <ul class="dropdown-menu bg-secondary">
                                            {% for char_class in character_classes %}
                                                <li><button class="dropdown-item btn class_dropdown" id="character_class_{{ char_class.id }}">{{ char_class.name }}</button></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-auto" id="level_col">
                                    <div class="input-group mb-3 input-group-sm">
                                        <span class="input-group-text bg-secondary border-secondary">Level:</span>
                                        <input type="number" class="form-control" name="level" aria-label="Level" value="{{ build.level }}" step="15" min="5" max="{{ max_level }}" style="width: 4rem;">
                                    </div>
                                </div>
                                <div class="col-auto" id="selected_elements_col">
                                    {% set position = dict() %}
                                    {% for element in build.selected_elements %}
                                        {% set x=position.__setitem__(element.position, element.element.name) %}
                                    {% endfor %}
                                    
                                    
                                    <div class="btn-group" role="group" style="float:right;" aria-label="Dropdowns for selecting random mastery order">
                                        <span style="float:left">Masteries:&nbsp</span>
                                        {% for i in range(0,4) %}
                                            <button class="btn btn-outline-primary btn-sm dropdown-toggle" data-bs-toggle="dropdown" id="dropdown_position_{{ i }}" aria-expanded="false">
                                                {{ position[i][:-8] }}
                                            </button>
                                            <ul class="dropdown-menu bg-secondary">
                                                <li><button class="dropdown-item btn btn-sm btn-outline-primary" data-position="{{ i }}" data-element-id="122">
                                                    Fire
                                                </button></li>
                                                <li><button class="dropdown-item btn btn-sm btn-outline-primary" data-position="{{ i }}" data-element-id="124">
                                                    Water
                                                </button></li>
                                                <li><button class="dropdown-item btn btn-sm btn-outline-primary" data-position="{{ i }}" data-element-id="123">
                                                    Earth
                                                </button></li>
                                                <li><button class="dropdown-item btn btn-sm btn-outline-primary" data-position="{{ i }}" data-element-id="125">
                                                    Air
                                                </button></li>
                                            </ul>
                                        {% endfor %}

                                    </div>
                                    <br/>
                                    <div class="btn-group" role="group" style="float:right;" aria-label="Dropdowns for selecting random resistance order">
                                        <span>Resistances:&nbsp</span>
                                        {% for i in range(4,8) %}
                                            <button class="btn btn-outline-primary btn-sm dropdown-toggle" data-bs-toggle="dropdown" id="dropdown_position_{{ i }}" aria-expanded="false">
                                                {{ position[i][:-4] }}
                                            </button>
                                            <ul class="dropdown-menu bg-secondary">
                                                <li><button class="dropdown-item btn btn-sm btn-outline-primary" data-position="{{ i }}" data-element-id="82">
                                                    Fire
                                                </button></li>
                                                <li><button class="dropdown-item btn btn-sm btn-outline-primary" data-position="{{ i }}" data-element-id="83">
                                                    Water
                                                </button></li>
                                                <li><button class="dropdown-item btn btn-sm btn-outline-primary" data-position="{{ i }}" data-element-id="84">
                                                    Earth
                                                </button></li>
                                                <li><button class="dropdown-item btn btn-sm btn-outline-primary" data-position="{{ i }}" data-element-id="85">
                                                    Air
                                                </button></li>
                                            </ul>
                                        {% endfor %}
                                    </div>
                                    


                                


                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row border-bottom mb-3 pt-3 justify-content-center" id="role_and_content_row">
                                <div class="col-auto" id="main_role_col">
                                    <div class="btn-toolbar mb-3" role="group" aria-label="Radio style checkbox toggle buttons for main role">
                                        <input type="checkbox" class="btn-check" name="main_role" id="damage" value="1" autocomplete="off">
                                        <label class="btn btn-sm btn-outline-primary" for="damage">Damage</label>
                                        <input type="checkbox" class="btn-check" name="main_role" id="melee" value="2" autocomplete="off">
                                        <label class="btn btn-sm btn-outline-primary" for="melee">Melee Dmg</label>
                                        <input type="checkbox" class="btn-check" name="main_role" id="distance" value="3" autocomplete="off">
                                        <label class="btn btn-sm btn-outline-primary" for="distance">Distance Dmg</label>
                                        <input type="checkbox" class="btn-check" name="main_role" id="tank" value="4" autocomplete="off">
                                        <label class="btn btn-sm btn-outline-primary" for="tank">Tank</label>
                                        <input type="checkbox" class="btn-check" name="main_role" id="healer" value="5" autocomplete="off">
                                        <label class="btn btn-sm btn-outline-primary" for="healer">Healer</label>
                                        <input type="checkbox" class="btn-check" name="main_role" id="shielder" value="6" autocomplete="off">
                                        <label class="btn btn-sm btn-outline-primary" for="shielder">Shielder</label>
                                        <input type="checkbox" class="btn-check" name="main_role" id="positioner" value="7" autocomplete="off">
                                        <label class="btn btn-sm btn-outline-primary" for="positioner">Positioner</label>
                                        <input type="checkbox" class="btn-check" name="main_role" id="buffer" value="8" autocomplete="off">
                                        <label class="btn btn-sm btn-outline-primary" for="buffer">Buffer / Debuffer</label>
                                    </div>
                                </div>
                                <div class="col-auto" id="content_type_col">
                                    <div class="btn-toolbar mb-3" role="group" aria-label="Radio style checkbox toggle buttons for content type">
                                        <input type="checkbox" class="btn-check" name="content_type" id="solo" value="1" autocomplete="off">
                                        <label class="btn btn-sm btn-outline-primary" for="solo">Solo PvM</label>
                                        <input type="checkbox" class="btn-check" name="content_type" id="group" value="2" autocomplete="off">
                                        <label class="btn btn-sm btn-outline-primary" for="group">Group PvM</label>
                                        <input type="checkbox" class="btn-check" name="content_type" id="pvp" value="3" autocomplete="off">
                                        <label class="btn btn-sm btn-outline-primary" for="pvp">PvP</label>
                                        <input type="checkbox" class="btn-check" name="content_type" id="rift" value="4" autocomplete="off">
                                        <label class="btn btn-sm btn-outline-primary" for="rift">Rift</label>
                                        <input type="checkbox" class="btn-check" name="content_type" id="ub" value="5" autocomplete="off">
                                        <label class="btn btn-sm btn-outline-primary" for="ub">Ultimate Boss</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row border-bottom pb-3 mb-3 justify-content-center" id="equipment_slots_row">
                    <!-- <div class="row mb-3 pt-3 justify-content-center"> -->
                        {% for equip in equip_order %}
                            {% set equipment = build.equipment_set[equip] %}
                            {% if equipment == None %}
                                <div class="col-auto border" id="{{ equip }}_slot">
                                    {{ (equip | replace("_"," ")) | title }}: Empty
                                </div>
                            {% else %}
                                <div class="col-auto border" id="{{ equip }}_slot">
                                    {{ (equip | replace("_"," ")) | title }}: {{ equipment.id }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    <!-- </div> -->
                </div>  
        </div>
    </div>

        
    


    
    <div class="row align-items-start justify-content-evenly" id="main_build_area_row">
        

        <div class="col-md-7" id="tabs-area-col">
            <div class="row" id="tabs-row">
                <ul class="nav nav-pills justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link tab active characteristics_tab" aria-current="page" href="#" aria-label="Characteristics tab">Characteristics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link tab equipment_tab" href="#" aria-label="Equipment tab">Equipment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link tab disabled text-secondary spells_tab" aria-disabled="true" href="#" aria-label="Spells tab">Spells</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link tab disabled text-secondary runes_tab" aria-disabled="true" href="#" aria-label="Runes and sublimations tab">Runes and Sublimations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link tab disabled text-secondary auto_tab" aria-disabled="true" href="#" aria-label="Auto-equipment tab">Auto-Equipment</a>
                    </li>
                </ul>
            </div>

            <div class="row mb-3 pt-3" id="tabs_content_row">

                <div class="col-12  mb-3 pt-3 tab_section characteristics_tab" id="characteristics_tab_col" style="display:block;">
                    <div class="row" id="characteristic_row">
                        <input type="hidden" name="intelligence_order" value='{{ intelligence_order | tojson }}'>
                        <input type="hidden" name="strength_order" value='{{ strength_order | tojson }}'>
                        <input type="hidden" name="agility_order" value='{{ agility_order | tojson }}'>
                        <input type="hidden" name="fortune_order" value='{{ fortune_order | tojson }}'>
                        <input type="hidden" name="major_order" value='{{ major_order | tojson }}'>
                        {% for section in [intelligence_order, strength_order, agility_order, fortune_order, major_order] | batch(3) %}
                            <div class="col-sm-6 mb-3 pt-3 characteristic_cards">
                                {% for stat_category in section %}
                                    <div class="card mb-3" id="{{ stat_category[0]}}_card">
                                        <div class="card-header text-bg-secondary">
                                            <span>{{ stat_category[0] | title }}</span>
                                            <span style="float: right;">
                                                <span id="{{ stat_category[0] }}_points">
                                                    {{ build.characteristic[stat_category[0]] }}
                                                </span>
                                                <span>/</span>
                                                <span id="{{ stat_category[0] }}_max_points">
                                                    {{ characteristic_caps[stat_category[0]] }}
                                                </span>
                                            </span>
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            {% for stat in stat_category[1:] %}
                                                {% if "_" in stat %}
                                                    <li class="list-group-item border-bottom text-bg-dark">
                                                        
                                                        {% set points = build.characteristic[stat] | int %}
                                                        {% set multiplier = char_multipliers[stat] | int %}
                                                        <span style="float: left;">{{ (stat | replace("_"," ")) | title}}</span>
                                                        <span style="float: left;" id="{{ stat }}_point_stats">&nbsp;({{ multiplier * points }})</span>
                                                        <span style="float: right;">
                                                            
                                                            <input class="points_input" type="number" style="width: 3rem;" min="0" value="{{ build.characteristic[stat_category[0]] }}" id="{{ stat }}_points_input" data-group="{{ stat_category[0] }}">
                                                        </span>
                                    
                                                    </li>
                                                {% elif stat | length == 2 %}
                                                    <li class="list-group-item border-bottom text-bg-dark">
                                                        
                                                        {% set points = build.characteristic[stat] | int %}
                                                        {% set multiplier = char_multipliers[stat] | int %}
                                                        <span style="float: left;">{{ stat | upper }}</span>
                                                        <span style="float: left;" id="{{ stat }}_point_stats">&nbsp;({{ multiplier * points }})</span>
                                                        <span style="float: right;">

                                                            <input class="points_input" type="number" style="width: 3rem;" min="0" value="{{ build.characteristic[stat_category[0]] }}" id="{{ stat }}_points_input" data-group="{{ stat_category[0] }}">
                                                        </span>

                                                    </li>
                                                {% else %}
                                                    <li class="list-group-item border-bottom text-bg-dark">
                                                        
                                                        {% set points = build.characteristic[stat] | int %}
                                                        {% set multiplier = char_multipliers[stat] | int %}
                                                        <span style="float: left;">{{ stat | title }}</span>
                                                        <span style="float: left;" id="{{ stat }}_point_stats">&nbsp;({{ multiplier * points }})</span>
                                                        <span style="float: right;">

                                                            <input class="points_input" type="number" style="width: 3rem;" min="0" value="{{ build.characteristic[stat_category[0]] }}" id="{{ stat }}_points_input" data-group="{{ stat_category[0] }}">
                                                        </span>

                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endfor %}
                            </div>

                        {% endfor %}
                    </div>
                </div>
                
                


                <div class="col-12  mb-3 pt-3 tab_section equipment_tab" id="equipment_tab_col" style="display:none;">


                    <div class="row mb-3" id="equipment_search_row">
                        <div class="col-12" id="equipment_search_col">
                            <form action="/search_equipments" method="post" id="equipment_search_form">
                                <input type="hidden" name="build_id" value="{{ build.id }}">
                                <div class="row" id="main_stats_search">
                                    <div class="col-9">
                                        <div class="input-group input-group-sm mb-3" id="equipment_name_input">
                                            <span class="input-group-text bg-secondary border-secondary">Name:</span>
                                            <input type="text" class="form-control form-control-sm" name="equipment_name" aria-label="Minimum level">
                                        </div>
                                    </div>
                                    <div class="col-4" id="level_range">
                                        <div class="input-group input-group-sm mb-3">
                                            <span class="input-group-text bg-secondary border-secondary">
                                                Level:
                                                
                                            </span>
                                            <input type="number" class="form-control form-control-sm" name="min_level" aria-label="Minimum level">
                                            <span class="input-group-text bg-secondary border-secondary"> - </span>
                                            <input type="number" class="form-control form-control-sm" name="max_level" aria-label="Maximum level">
                                        </div>
                                    </div>      

                                    {% for stat in main_stats_order %}
                                        {% if stat not in ['spell_range', 'armor'] %}
                                            <div class="col-4" id="{{ stat }}_range">
                                                <div class="input-group input-group-sm mb-3">
                                                    <span class="input-group-text bg-secondary border-secondary">
                                                        {% if "_" in stat %}                         
                                                                {{ (stat | replace("_"," ")) | title}}:
                                                        {% elif stat | length == 2 %}
                                                                {{ stat | upper }}:
                                                        {% else %}
                                                                {{ stat | title }}
                                                        {% endif %}
                                                        
                                                    </span>
                                                    <input type="number" class="form-control form-control-sm" name="min_{{ stat }}" aria-label="Minimum {{ stat | replace('_','' '') }}">
                                                    <span class="input-group-text bg-secondary border-secondary"> - </span>
                                                    <input type="number" class="form-control form-control-sm" name="max_{{ stat }}" aria-label="Maximum {{ stat | replace('_','' '') }}">
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    
                                    <div class="col-lg-6" id="elemental_mastery_range">
                                        <div class="input-group input-group-sm mb-1">
                                            <span class="input-group-text bg-secondary border-secondary">
                                                Elemental Mastery:      
                                            </span>
                                            <input type="number" class="form-control" styl="width: 6rem;" name="min_elemental_mastery" aria-label="Minimum elemental mastery">
                                            <span class="input-group-text bg-secondary border-secondary"> - </span>
                                            <input type="number" class="form-control" styl="width: 6rem;" name="max_elemental_mastery" aria-label="Maximum elemental mastery">
                                        </div>
                                        <div class="d-flex btn-toolbar mb-3 justify-content-center" role="group" aria-label="Checkbox buttons for elemental masteries to focus on for total mastery">
                                            {% for stat in elemental_mastery_order %}
                                                <input type="checkbox" class="btn-check" name="mastery_element" id="equip_{{ stat }}" value="{{ stat }}" autocomplete="off">
                                                <label class="btn btn-sm btn-outline-primary" for="equip_{{ stat }}">
                                                    {{ (stat | replace("_mastery","")) | title}}
                                                </label>
                                            {% endfor %}
                                        </div>
                                        
                                    </div>

                                    <div class="col-lg-6" id="elemental_res_range">
                                        <div class="input-group input-group-sm mb-1">
                                            <span class="input-group-text bg-secondary border-secondary">
                                                Elemental Resistance:      
                                            </span>
                                            <input type="number" class="form-control form-control-sm" name="min_elemental_res" aria-label="Minimum elemental resistance">
                                            <span class="input-group-text bg-secondary border-secondary"> - </span>
                                            <input type="number" class="form-control form-control-sm" name="max_elemental_res" aria-label="Maximum elemental resistance">
                                        </div>
                                        <div class="d-flex btn-toolbar mb-3 justify-content-center" role="group" aria-label="Checkbox buttons for elemental resistances to focus on for total resistance">
                                            {% for stat in elemental_res_order %}
                                                <input type="checkbox" class="btn-check" name="res_element" id="equip_{{ stat }}" value="{{ stat }}" autocomplete="off">
                                                <label class="btn btn-sm btn-outline-primary" for="equip_{{ stat }}">
                                                    {{ (stat | replace("_res","")) | title}}
                                                </label>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="d-inline-flex mb-3 gap-1 justify-content-center">
                                        <button class="btn btn-sm btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#battle_stats" aria-expanded="false" aria-controls="battle_stats">
                                            Battle Stats
                                        </button>
                                        <button class="btn btn-sm btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#secondary_stats" aria-expanded="false" aria-controls="secondary_stats">
                                            Secondary Stats
                                        </button>
                                    </div>

                                    <div class="col-12 collapse" id="battle_stats">
                                        <div class="row">
                                        {% for stat in battle_stat_order %} 
                                            {% if stat not in ['dmg_inflicted', 'heals_performed'] %}
                                                <div class="col-4" id="{{ stat }}_range">
                                                    <div class="input-group input-group-sm mb-3">
                                                        <span class="input-group-text bg-secondary border-secondary">
                                                            {% if "_" in stat %}                         
                                                                    {{ (stat | replace("_"," ")) | title}}:
                                                            {% elif stat | length == 2 %}
                                                                    {{ stat | upper }}:
                                                            {% else %}
                                                                    {{ stat | title }}
                                                            {% endif %}
                                                            
                                                        </span>
                                                        <input type="number" class="form-control form-control-sm" name="min_{{ stat }}" aria-label="Minimum {{ stat | replace('_','' '') }}">
                                                        <span class="input-group-text bg-secondary border-secondary"> - </span>
                                                        <input type="number" class="form-control form-control-sm" name="max_{{ stat }}" aria-label="Maximum {{ stat | replace('_','' '') }}">
                                                    </div>
                                                </div>   
                                            {% endif %}
                                        {% endfor %}
                                        </div>
                                    </div>

                                    <div class="col-12 collapse" id="secondary_stats">
                                        <div class="row">
                                        {% for stat in secondary_stat_order %}  
                                            {% if stat not in ['indirect_dmg', 'barrier'] %}
                                                <div class="col-4" id="{{ stat }}_range">
                                                    <div class="input-group input-group-sm mb-3">
                                                        <span class="input-group-text bg-secondary border-secondary">
                                                            {% if "_" in stat %}                         
                                                                    {{ (stat | replace("_"," ")) | title}}:
                                                            {% elif stat | length == 2 %}
                                                                    {{ stat | upper }}:
                                                            {% else %}
                                                                    {{ stat | title }}
                                                            {% endif %}
                                                            
                                                        </span>
                                                        <input type="number" class="form-control form-control-sm" name="min_{{ stat }}" aria-label="Minimum {{ stat | replace('_','' '') }}">
                                                        <span class="input-group-text bg-secondary border-secondary"> - </span>
                                                        <input type="number" class="form-control form-control-sm" name="max_{{ stat }}" aria-label="Maximum {{ stat | replace('_','' '') }}">
                                                    </div>
                                                </div>     
                                            {% endif %}
                                        {% endfor %}
                                        </div>
                                    </div>


                                </div>

                                <div class="col-12 d-flex justify-content-end">
                                    <button class="btn btn-sm btn-primary" type="submit" id="equipment_search_btn">Search</button>
                                </div>
                                <div class="col-2 mb-3 mx-auto" id="equipment_tab_reset_row">
                                    <button class="btn text-decoration-underline text-primary" type="reset" id="equipment_reset_button">Reset</button>
                                </div>
                            </form>
                        </div>
                        
                    </div>

                    {% if session.get("equipment_search_params") != None %}
                        <div class="row row-col-4 border g-4 mb-3 pt-3" id="equipment_results_row2">
                            <div class="col-12">
                                <h5 class="text-end">Results: {{ equipments | length }}</h5>
                            </div>
                            {% for equip in equipments %}
                                <div class="col-3">
                                    <div class="card h-100" id="{equip.id}">
                                        <div class="card card-body">
                                            {{ equip.Equipment.show() }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <!-- <div class="row row-col-4 border g-4 mb-3 " id="equipment_results_row" style="display:none;">
            
                        
                    </div> -->

                </div>

                <div class="col-12  mb-3 pt-3 tab_section spells_tab" id="spells_tab_col">
                    
                </div>

                <div class="col-12  mb-3 pt-3 tab_section runes_tab" id="runes_and_sublimations_tab_col">
                    
                </div>

                <div class="col-12  mb-3 pt-3 tab_section auto_tab" id="auto_equipment_tab_col">
                    
                </div>


            </div> 
        </div>


        <div class="col-md-4 border rounded-4 sticky-md-top" id="build_stats_col">
            <div class="card text-bg-dark border-dark">
                <input name="main_stats_order" value='{{ main_stats_order | tojson }}' type="hidden">
                <div class="row mb-1 pt-3" id="main_stats_row">
                    {% for stat in main_stats_order %}
                        {% set stat_name = 'total_' + stat %}
                        {% if "_" in stat and stat != 'spell_range' %}
                            <div class="col text-nowrap" id="{{ stat_name }}">{{ (stat | replace("_"," ")) | title}}: {{ build[stat_name] }}</div>
                        {% elif stat | length == 2  and stat != 'spell_range' %}
                            <div class="col text-nowrap" id="{{ stat_name }}">{{ stat | upper }}: {{ build[stat_name] }}</div>
                        {% elif  stat != 'spell_range' %}
                            <div class="col text-nowrap" id="{{ stat_name }}">{{ stat | title }}: {{ build[stat_name] }}</div>
                        {% endif %}
                    {% endfor %}
                </div>


                <div class="row border-top">
                    <div class="col">
                        <div class="justify-content-center" id="mastery_and_resistance_title">
                            <h6 class="col-12 text-center">Mastery and Resistance</h6>
                        </div>
                    </div>
                </div>

                <input name="elemental_stats_order" value='{{ (elemental_mastery_order + elemental_res_order) | tojson }}' type="hidden">
                <div class="row mb-3 pt-3 border-top" id="elemental_stats_row">
                    {% for stat in elemental_mastery_order + elemental_res_order %}
                        {% set stat_name = 'total_' + stat %}
                        {% if "_" in stat %}
                            <div class="col text-nowrap" id="{{ stat_name }}">{{ (stat | replace("_"," ")) | title}}: {{ build[stat_name] }}</div>
                        {% elif stat | length == 2 %}
                            <div class="col text-nowrap" id="{{ stat_name }}">{{ stat | upper }}: {{ build[stat_name] }}</div>
                        {% else %}
                            <div class="col text-nowrap" id="{{ stat_name }}">{{ stat | title }}: {{ build[stat_name] }}</div>
                        {% endif %}
                    {% endfor %}
                </div>
                
                <div class="row border-top justify-content-center" id="battle_stats_row">
                    <h6 class="col-auto">Battle</h6>
                </div>
                
                <input name="battle_stat_order" value='{{ battle_stat_order | tojson }}' type="hidden">
                {% for i in range   (0, (battle_stat_order | length) - 1, 2) %}
                    <div class="row border-top justify-content-center">
                            
                        {% set stat1 = battle_stat_order[i] %}
                        {% set stat_name1 = 'total_' + stat1 %}

                        {% if "_" in stat1%}
                            <div class="col-6 text-nowrap border-end" id="{{ stat_name1 }}">{{ (stat1| replace("_"," ")) | title}}: {{ build[stat_name1] }}</div>
                        {% elif stat1| length == 2 %}
                            <div class="col-6 text-nowrap border-end" id="{{ stat_name1 }}">{{ stat1| upper }}: {{ build[stat_name1] }}</div>
                        {% elif stat1 %}
                            <div class="col-6 text-nowrap border-end" id="{{ stat_name1 }}">{{ stat1| title }}: {{ build[stat_name1] }}</div>
                        {% endif %}

                        {% set stat2= battle_stat_order[i + 1] %}
                        {% set stat_name2 = 'total_' + stat2 %}
                        
                        {% if "_" in stat2%}
                            <div class="col-6 text-nowrap" id="{{ stat_name2 }}">{{ (stat2| replace("_"," ")) | title}}: {{ build[stat_name2] }}</div>
                        {% elif stat2| length == 2 %}
                            <div class="col-6 text-nowrap" id="{{ stat_name2 }}">{{ stat2| upper }}: {{ build[stat_name2] }}</div>
                        {% elif stat2 %}
                            <div class="col-6 text-nowrap" id="{{ stat_name2 }}">{{ stat2| title }}: {{ build[stat_name2] }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
                
                <div class="row border-top justify-content-center" id="secondary_stats_row">
                    <h6 class="col-auto">Secondary</h6>
                </div>

                <input name="secondary_stat_order" value='{{ secondary_stat_order | tojson }}' type="hidden">
                {% for i in range(0, (secondary_stat_order | length) - 1, 2) %}
                    <div class="row justify-content-center">
                            
                        {% set stat1 = secondary_stat_order[i] %}
                        {% set stat_name1 = 'total_' + stat1 %}

                        {% if "_" in stat1%}
                            <div class="col text-nowrap border-end border-top" id="{{ stat_name1 }}">{{ (stat1| replace("_"," ")) | title}}: {{ build[stat_name1] }}</div>
                        {% elif stat1| length == 2 %}
                            <div class="col text-nowrap border-end border-top" id="{{ stat_name1 }}">{{ stat1| upper }}: {{ build[stat_name1] }}</div>
                        {% elif stat1 %}
                            <div class="col text-nowrap border-end border-top" id="{{ stat_name1 }}">{{ stat1| title }}: {{ build[stat_name1] }}</div>
                        {% endif %}

                        {% set stat2 = secondary_stat_order[i + 1] %}
                        {% set stat_name2 = 'total_' + stat2 %}
                        
                        {% if "_" in stat2%}
                            <div class="col text-nowrap border-top" id="{{ stat_name2 }}">{{ (stat2| replace("_"," ")) | title}}: {{ build[stat_name2] }}</div>
                        {% elif stat2| length == 2 %}
                            <div class="col text-nowrap border-top" id="{{ stat_name2 }}">{{ stat2| upper }}: {{ build[stat_name2] }}</div>
                        {% elif stat2 %}
                            <div class="col text-nowrap border-top" id="{{ stat_name2 }}">{{ stat2| title }}: {{ build[stat_name2] }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>



    </div>




 


        
    

{% endblock %} 