{% extends 'base.html' %}

{% block title %}WakfuBuilds: Build{% endblock %}

{% block content %}
    
    <div class="row mb-3 pt-3 " id="top_of_builds">
        <div class="col-12">
                <form action="/update_build" method="post"></form>    
                    <div class="row mb-3 pt-3 " id="top_of_builds">
                        <div class="col-12">
                            <div class="row" id="build_info_row">
                                <div class="col-3" id="build_info_col">
                                    <div class="input-group input-group-sm mb-2">
                                        <span class="input-group-text" id="build_name">Name</span>
                                        <input type="text" class="form-control" placeholder="{{ build.build_name }}" aria-label="Build name" aria-describedby="build_name">
                                    </div>
                                </div>
                                <div class="col-auto" id="build_name_class_col">
                                    <div class="dropdown">
                                        <button class="btn btn-outline-primary dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown" aria-label="Class selection" aria-expanded="false">
                                            {% if build.character_class_id == None %}
                                                Classes
                                            {% else %}
                                                {{ build.character_class.name }}
                                            {% endif %}
                                        </button>
                                        <ul class="dropdown-menu bg-secondary">
                                            {% for char_class in character_classes %}
                                                <li><button class="dropdown-item btn" id="character_class_{{ char_class.id }}">{{ char_class.name }}</button></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-auto" id="level_col">
                                    <div class="input-group mb-3 input-group-sm">
                                        <span class="input-group-text bg-secondary border-secondary">Level:</span>
                                        <input type="number" class="form-control w-50" name="level" aria-label="Level" value="{{ build.level }}" step="15" min="5" max="{{ max_level }}">
                                    </div>
                                </div>
                                <div class="col-auto" id="selected_elements_col">
                                    {% set position = dict() %}
                                    {% for element in build.selected_elements %}
                                        {% set x=position.__setitem__(element.position, element.element.name) %}
                                    {% endfor %}
                                    <span>Masteries: {{ position[0] }}, {{ position[1] }}, {{ position[2] }}, {{ position[3] }}</span><br>
                                    <span>Resistances: {{ position[4] }}, {{ position[5] }}, {{ position[6] }}, {{ position[7] }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row border-top border-bottom mb-3 pt-3 justify-content-between" id="role_and_content_row">
                                <div class="col-auto" id="main_role_col">
                                    <div class="btn-toolbar mb-3" role="group" aria-label="Radio toggle buttons for main role">
                                        <input type="radio" class="btn-check" name="main_role" id="damage" autocomplete="off">
                                        <label class="btn btn-sm btn-outline-primary" for="damage">Damage</label>
                                        <input type="radio" class="btn-check" name="main_role" id="melee" autocomplete="off">
                                        <label class="btn btn-sm btn-outline-primary" for="melee">Melee Dmg</label>
                                        <input type="radio" class="btn-check" name="main_role" id="distance" autocomplete="off">
                                        <label class="btn btn-sm btn-outline-primary" for="distance">Distance Dmg</label>
                                        <input type="radio" class="btn-check" name="main_role" id="tank" autocomplete="off">
                                        <label class="btn btn-sm btn-outline-primary" for="tank">Tank</label>
                                        <input type="radio" class="btn-check" name="main_role" id="healer" autocomplete="off">
                                        <label class="btn btn-sm btn-outline-primary" for="healer">Healer</label>
                                        <input type="radio" class="btn-check" name="main_role" id="shielder" autocomplete="off">
                                        <label class="btn btn-sm btn-outline-primary" for="shielder">Shielder</label>
                                        <input type="radio" class="btn-check" name="main_role" id="positioner" autocomplete="off">
                                        <label class="btn btn-sm btn-outline-primary" for="positioner">Positioner</label>
                                        <input type="radio" class="btn-check" name="main_role" id="buffer" autocomplete="off">
                                        <label class="btn btn-sm btn-outline-primary" for="buffer">Buffer / Debuffer</label>
                                    </div>
                                </div>
                                <div class="col-auto" id="content_type_col">
                                    <div class="btn-toolbar mb-3" role="group" aria-label="Radio toggle buttons for content type">
                                        <input type="radio" class="btn-check" name="content_type" id="solo" autocomplete="off">
                                        <label class="btn btn-sm btn-outline-primary" for="solo">Solo PvM</label>
                                        <input type="radio" class="btn-check" name="content_type" id="group" autocomplete="off">
                                        <label class="btn btn-sm btn-outline-primary" for="group">Group PvM</label>
                                        <input type="radio" class="btn-check" name="content_type" id="pvp" autocomplete="off">
                                        <label class="btn btn-sm btn-outline-primary" for="pvp">PvP</label>
                                        <input type="radio" class="btn-check" name="content_type" id="rift" autocomplete="off">
                                        <label class="btn btn-sm btn-outline-primary" for="rift">Rift</label>
                                        <input type="radio" class="btn-check" name="content_type" id="ub" autocomplete="off">
                                        <label class="btn btn-sm btn-outline-primary" for="ub">Ultimate Boss</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row border-bottom pb-3 mb-3 justify-content-center" id="equipment_slots_row">
                    <!-- <div class="row mb-3 pt-3 justify-content-center"> -->
                        {% for equip in equip_order %}
                            {% set equipment = build.equipment_set[equip] %}
                            {% if equipment == None %}
                                <div class="col-auto border">
                                    {{ (equip | replace("_"," ")) | title }}: Empty
                                </div>
                            {% else %}
                                <div class="col-auto border">
                                    {{ (equip | replace("_"," ")) | title }}: {{ equipment.id }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    <!-- </div> -->
                </div>  
        </div>
    </div>

        
    


    
    <div class="row align-items-start justify-content-evenly" id="main_build_area_row">
        

        <div class="col-7" id="tabs-area-col">
            <div class="row" id="tabs-row">
                <ul class="nav nav-pills justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#" aria-label="Characteristics tab">Characteristics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" aria-label="Equipment tab">Equipment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" aria-label="Spells tab">Spells</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" aria-label="Runes and sublimations tab">Runes and Sublimations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#" aria-label="Auto-equipment tab">Auto-Equipment</a>
                    </li>
                </ul>
            </div>

            <div class="row mb-3 pt-3" id="tabs_content_row">

                <div class="col-12  mb-3 pt-3" id="characteristics_tab_col" style="display:none;">
                    <div class="row" id="characteristic_row">
                        {% for section in [intelligence_order, strength_order, agility_order, fortune_order, major_order] | batch(3) %}
                            <div class="col-6 mb-3 pt-3 characteristic_cards">
                                {% for stat_category in section %}
                                    <div class="card mb-3" id="{{ stat_category[0]}}_card">
                                        <div class="card-header text-bg-secondary">
                                            {{ stat_category[0] | title }}
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            {% for stat in stat_category[1:] %}
                                                {% if "_" in stat %}
                                                    <li class="list-group-item border-bottom text-bg-dark">
                                                        {{ (stat | replace("_"," ")) | title}}
                                    
                                                    </li>
                                                {% elif stat | length == 2 %}
                                                    <li class="list-group-item border-bottom text-bg-dark">
                                                        {{ stat | upper }}
                                                    </li>
                                                {% else %}
                                                    <li class="list-group-item border-bottom text-bg-dark">
                                                        {{ stat | title }}
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endfor %}
                            </div>

                        {% endfor %}
                    </div>
                </div>
                
                
                

                <div class="col-12  mb-3 pt-3" id="equipment_tab_col">


                    <div class="row mb-3" id="equipment_search_row">
                        <div class="col-12" id="equipment_search_col">
                            <form action="/search_equipments" method="post" id="equipment_search_form">
                                <input type="hidden" name="build_id" value="{{ build.id }}">
                                <div class="row" id="main_stats_search">
                                    <div class="col-9">
                                        <div class="input-group input-group-sm mb-2" id="equipment_name_input">
                                            <span class="input-group-text bg-secondary border-secondary">Name:</span>
                                            <input type="text" class="form-control form-control-sm" name="equipment_name" aria-label="Minimum level">
                                        </div>
                                    </div>
                                    <div class="col-4" id="level_range">
                                        <div class="input-group input-group-sm mb-3">
                                            <span class="input-group-text bg-secondary border-secondary">
                                                Level:
                                                
                                            </span>
                                            <input type="number" class="form-control form-control-sm" name="min_level" aria-label="Minimum level">
                                            <span class="input-group-text bg-secondary border-secondary"> - </span>
                                            <input type="number" class="form-control form-control-sm" name="max_level" aria-label="Maximum level">
                                        </div>
                                    </div>      

                                    {% for stat in main_stats_order %}
                                        {% if stat not in ['spell_range', 'armor'] %}
                                            <div class="col-4" id="{{ stat }}_range">
                                                <div class="input-group input-group-sm mb-3">
                                                    <span class="input-group-text bg-secondary border-secondary">
                                                        {% if "_" in stat %}                         
                                                                {{ (stat | replace("_"," ")) | title}}:
                                                        {% elif stat | length == 2 %}
                                                                {{ stat | upper }}:
                                                        {% else %}
                                                                {{ stat | title }}
                                                        {% endif %}
                                                        
                                                    </span>
                                                    <input type="number" class="form-control form-control-sm" name="min_{{ stat }}" aria-label="Minimum {{ stat | replace('_','' '') }}">
                                                    <span class="input-group-text bg-secondary border-secondary"> - </span>
                                                    <input type="number" class="form-control form-control-sm" name="max_{{ stat }}" aria-label="Maximum {{ stat | replace('_','' '') }}">
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    
                                    <div class="col-6" id="elemental_mastery_range">
                                        <div class="input-group input-group-sm">
                                            <span class="input-group-text bg-secondary border-secondary">
                                                Elemental Mastery:      
                                            </span>
                                            <input type="number" class="form-control form-control-sm" name="min_elemental_mastery" aria-label="Minimum elemental mastery">
                                            <span class="input-group-text bg-secondary border-secondary"> - </span>
                                            <input type="number" class="form-control form-control-sm" name="max_elemental_mastery" aria-label="Maximum elemental mastery">
                                        </div>
                                        <div class="btn-toolbar mb-3" role="group" aria-label="Checkbox buttons for elemental masteries to focus on for total mastery">
                                            {% for stat in elemental_mastery_order %}
                                                <input type="checkbox" class="btn-check" name="mastery_element" id="equip_{{ stat }}" value="{{ stat }}" autocomplete="off">
                                                <label class="btn btn-sm btn-outline-primary" for="equip_{{ stat }}">
                                                    {{ (stat | replace("_mastery","")) | title}}
                                                </label>
                                            {% endfor %}
                                        </div>
                                        
                                    </div>

                                    <div class="col-6" id="elemental_res_range">
                                        <div class="input-group input-group-sm">
                                            <span class="input-group-text bg-secondary border-secondary">
                                                Elemental Resistance:      
                                            </span>
                                            <input type="number" class="form-control form-control-sm" name="min_elemental_res" aria-label="Minimum elemental resistance">
                                            <span class="input-group-text bg-secondary border-secondary"> - </span>
                                            <input type="number" class="form-control form-control-sm" name="max_elemental_res" aria-label="Maximum elemental resistance">
                                        </div>
                                        <div class="btn-toolbar mb-3" role="group" aria-label="Checkbox buttons for elemental resistances to focus on for total resistance">
                                            {% for stat in elemental_res_order %}
                                                <input type="checkbox" class="btn-check" name="res_element" id="equip_{{ stat }}" value="{{ stat }}" autocomplete="off">
                                                <label class="btn btn-sm btn-outline-primary" for="equip_{{ stat }}">
                                                    {{ (stat | replace("_res","")) | title}}
                                                </label>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    {% for stat in battle_stat_order %} 
                                        {% if stat not in ['dmg_inflicted', 'heals_performed'] %}
                                            <div class="col-4" id="{{ stat }}_range">
                                                <div class="input-group input-group-sm mb-3">
                                                    <span class="input-group-text bg-secondary border-secondary">
                                                        {% if "_" in stat %}                         
                                                                {{ (stat | replace("_"," ")) | title}}:
                                                        {% elif stat | length == 2 %}
                                                                {{ stat | upper }}:
                                                        {% else %}
                                                                {{ stat | title }}
                                                        {% endif %}
                                                        
                                                    </span>
                                                    <input type="number" class="form-control form-control-sm" name="min_{{ stat }}" aria-label="Minimum {{ stat | replace('_','' '') }}">
                                                    <span class="input-group-text bg-secondary border-secondary"> - </span>
                                                    <input type="number" class="form-control form-control-sm" name="max_{{ stat }}" aria-label="Maximum {{ stat | replace('_','' '') }}">
                                                </div>
                                            </div>   
                                        {% endif %}
                                    {% endfor %}


                                    {% for stat in secondary_stat_order %}  
                                        {% if stat not in ['indirect_dmg', 'barrier'] %}
                                            <div class="col-4" id="{{ stat }}_range">
                                                <div class="input-group input-group-sm mb-3">
                                                    <span class="input-group-text bg-secondary border-secondary">
                                                        {% if "_" in stat %}                         
                                                                {{ (stat | replace("_"," ")) | title}}:
                                                        {% elif stat | length == 2 %}
                                                                {{ stat | upper }}:
                                                        {% else %}
                                                                {{ stat | title }}
                                                        {% endif %}
                                                        
                                                    </span>
                                                    <input type="number" class="form-control form-control-sm" name="min_{{ stat }}" aria-label="Minimum {{ stat | replace('_','' '') }}">
                                                    <span class="input-group-text bg-secondary border-secondary"> - </span>
                                                    <input type="number" class="form-control form-control-sm" name="max_{{ stat }}" aria-label="Maximum {{ stat | replace('_','' '') }}">
                                                </div>
                                            </div>     
                                        {% endif %}
                                    {% endfor %}


                                </div>

                                <div class="col-12 d-flex justify-content-end">
                                    <button class="btn btn-sm btn-primary" type="submit" id="equipment_search_btn">Search</button>
                                </div>
                                <div class="col-2 mb-3 mx-auto" id="homepage_reset_row">
                                    <button class="btn text-decoration-underline text-primary" type="reset" id="equipment_reset_button">Reset</button>
                                </div>
                            </form>
                        </div>
                        
                    </div>

                    {% if session.get("equipment_search_params") != None %}
                        <div class="row row-col-4 border g-4 mb-3 pt-3" id="equipment_results_row2">
                            <div class="col-12">
                                <h5 class="text-end">Results: {{ equipments | length }}</h5>
                            </div>
                            {% for equip in equipments %}
                                <div class="col-3">
                                    <div class="card h-100" id="{equip.id}">
                                        <div class="card card-body">
                                            {{ equip.Equipment.show() }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="row row-col-4 border g-4 mb-3 " id="equipment_results_row" style="display:none;">
            
                        
                    </div>

                </div>

                <div class="col-12  mb-3 pt-3" id="spells_tab_col">
                    
                </div>

                <div class="col-12  mb-3 pt-3" id="runes_and_sublimations_tab_col">
                    
                </div>

                <div class="col-12  mb-3 pt-3" id="auto_equipment_tab_col">
                    
                </div>


            </div> 
        </div>


        <div class="col-4 border rounded-4" id="build_stats_col">
            <div class="card text-bg-dark border-dark">
                <div class="row mb-1 pt-3" id="main_stats_row">
                    {% for stat in main_stats_order %}
                        {% set stat_name = 'total_' + stat %}
                        {% if "_" in stat and stat != 'spell_range' %}
                            <div class="col text-nowrap">{{ (stat | replace("_"," ")) | title}}: {{ build[stat_name] }}</div>
                        {% elif stat | length == 2  and stat != 'spell_range' %}
                            <div class="col text-nowrap">{{ stat | upper }}: {{ build[stat_name] }}</div>
                        {% elif  stat != 'spell_range' %}
                            <div class="col text-nowrap">{{ stat | title }}: {{ build[stat_name] }}</div>
                        {% endif %}
                    {% endfor %}
                </div>


                <div class="row border-top">
                    <div class="col">
                        <div class="justify-content-center" id="mastery_and_resistance_title">
                            <h6 class="col-12 text-center">Mastery and Resistance</h6>
                        </div>
                    </div>
                </div>

                <div class="row mb-3 pt-3 border-top" id="elemental_stats_row">
                    {% for stat in elemental_mastery_order + elemental_res_order %}
                        {% set stat_name = 'total_' + stat %}
                        {% if "_" in stat %}
                            <div class="col text-nowrap">{{ (stat | replace("_"," ")) | title}}: {{ build[stat_name] }}</div>
                        {% elif stat | length == 2 %}
                            <div class="col text-nowrap">{{ stat | upper }}: {{ build[stat_name] }}</div>
                        {% else %}
                            <div class="col text-nowrap">{{ stat | title }}: {{ build[stat_name] }}</div>
                        {% endif %}
                    {% endfor %}
                </div>
                
                <div class="row border-top justify-content-center" id="secondary_stats_row">
                    <h6 class="col-auto">Battle</h6>
                </div>
                
                {% for i in range(0, (battle_stat_order | length) - 1, 2) %}
                    <div class="row border-top justify-content-center" id="battle_stats_row">
                            
                        {% set stat1= battle_stat_order[i] %}
                        {% set stat_name1 = 'total_' + stat1%}

                        {% if "_" in stat1%}
                            <div class="col-6 text-nowrap border-end">{{ (stat1| replace("_"," ")) | title}}: {{ build[stat_name1] }}</div>
                        {% elif stat1| length == 2 %}
                            <div class="col-6 text-nowrap border-end">{{ stat1| upper }}: {{ build[stat_name1] }}</div>
                        {% elif stat1 %}
                            <div class="col-6 text-nowrap border-end">{{ stat1| title }}: {{ build[stat_name1] }}</div>
                        {% endif %}

                        {% set stat2= battle_stat_order[i + 1] %}
                        {% set stat_name1 = 'total_' + stat2%}
                        
                        {% if "_" in stat2%}
                            <div class="col-6 text-nowrap">{{ (stat2| replace("_"," ")) | title}}: {{ build[stat_name1] }}</div>
                        {% elif stat2| length == 2 %}
                            <div class="col-6 text-nowrap">{{ stat2| upper }}: {{ build[stat_name1] }}</div>
                        {% elif stat2 %}
                            <div class="col-6 text-nowrap">{{ stat2| title }}: {{ build[stat_name1] }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
                
                <div class="row border-top justify-content-center" id="secondary_stats_row">
                    <h6 class="col-auto">Secondary</h6>
                </div>

                {% for i in range(0, (secondary_stat_order | length) - 1, 2) %}
                    <div class="row justify-content-center" id="secondary_stats_row">
                            
                        {% set stat1= secondary_stat_order[i] %}
                        {% set stat_name1 = 'total_' + stat1%}

                        {% if "_" in stat1%}
                            <div class="col text-nowrap border-end border-top">{{ (stat1| replace("_"," ")) | title}}: {{ build[stat_name1] }}</div>
                        {% elif stat1| length == 2 %}
                            <div class="col text-nowrap border-end border-top">{{ stat1| upper }}: {{ build[stat_name1] }}</div>
                        {% elif stat1 %}
                            <div class="col text-nowrap border-end border-top">{{ stat1| title }}: {{ build[stat_name1] }}</div>
                        {% endif %}

                        {% set stat2= secondary_stat_order[i + 1] %}
                        {% set stat_name1 = 'total_' + stat2%}
                        
                        {% if "_" in stat2%}
                            <div class="col text-nowrap border-top">{{ (stat2| replace("_"," ")) | title}}: {{ build[stat_name1] }}</div>
                        {% elif stat2| length == 2 %}
                            <div class="col text-nowrap border-top">{{ stat2| upper }}: {{ build[stat_name1] }}</div>
                        {% elif stat2 %}
                            <div class="col text-nowrap border-top">{{ stat2| title }}: {{ build[stat_name1] }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>



    </div>




 


        
    

{% endblock %} 